.imgContainer {
  width: 100%;
  margin: auto auto;
  columns: 4;

  .content {
    cursor: pointer;
    width: 100%;
    position: relative;
    overflow: hidden;
    margin-bottom: 16px;
  }
}

img {
  width: 100%;
}

@media (max-width: 1200px) {
  .imgContainer {
    columns: 3;
    width: calc(100%-40px);
    box-sizing: border-box;
  }
}
@media (max-width: 768px) {
  .imgContainer {
    columns: 2;
  }
}
@media (max-width: 480px) {
  .imgContainer {
    columns: 1;
  }
}
